:root
{
    --black: black;
    --white: white;
    --turq: #2a9fa9;
}

body
{
    font-family: 'Raleway', sans-serif;
    background-color: var(--black);
    color: var(--white);
    font-weight: lighter;
    opacity: 3;
}

.navbar-brand 
{
    width: 50px;
}

.navbar-toggler /* Color del icono svg del boton */  /* importante */ 
{
    border-color: var(--white) !important;
}

.navbar-toggler-icon /* Color y tamaño borde del boton */  /* importante */ 
{
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
    width: 40px !important;
    height: 40px !important;
}

.social-icons i 
{
    color: var(--white);
}